# Python Crash Course

Observe que isso não pretende ser uma visão abrangente do Python ou da programação em geral; se você não tem experiência em programação, provavelmente deve fazer o curso do autor deste tutorial: [Um curso completo de Python (Bootcamp)](https://www.udemy.com/complete-python-bootcamp).

**Este notebook é apenas uma referência de código para as aulas, sem explicações escritas aqui**

Este notebook passará apenas pelos tópicos básicos para:

* Data types
    * Numbers
    * Strings
    * Booleans
    * Lists
    * Dictionaries
    * Tuples 
    * Sets
* print, input
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

Sempre tenham muito cuidado com a hierarquia dos operadores! Para garantir, é recomendado usar de parentesis.

In [12]:
(2 + 3) * (5 + 5)

50

A operação acima sem os parentesis resulta

In [3]:
2+3*5+5

22

O restante de uma divisão é calclada com o operador "%" ($\frac{5}{3} = 1 + \frac{2}{3}  \rightarrow \text{O restante é 2}$)

In [1]:
5%3

2

### Variable Assignment

Nome de uma variavel não pode começar com um numero (1name,2x,...) ou um carater especial (@x,&age)

In [13]:
name_of_var = 2

Uma variavel deve ser definida e ter um "conteudo" para puder ser usada. Por exemplo, a operação abaixo gera um erro

In [3]:
a+b==2

NameError: name 'a' is not defined

Mais na frente vamos usar o pacote `Sympy` que nos permita definir uma variavel sem ter "conteudo".

In [6]:
x = 2
y = 3

In [7]:
z = x + y

In [8]:
z

5

Se o a variavel 'x' mude, a variavel 'z' vai continuar com o valor que foi designado inicialmente

In [9]:
x = 5

In [10]:
z

5

### Strings

Tem duas formas de definir um string, " " e ' '. As duas formas são equivalentes.

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

O seguite exemplo mostra porque tem duas formas para definir um string.

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

Até agora as variaveis só guardavam um valor só. Mas isso é muito limitano. Por exemplo, como podemos definir uma variavel que contenha nome de todos os alunos da turma? Aqui serão aperesentados diferentes formas de guardas um conjunto de dados em uma unica variavel (containers).

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

Uma lista pode conter varios tipos de valores, tais como strings e numeros.

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [5]:
my_list = ['a','b','c']

O metodo *append* acrescenta um elemento novo na lista.

In [6]:
my_list.append('d')

In [7]:
my_list

['a', 'b', 'c', 'd']

Outra forma é sumar duas listas!

In [8]:
my_list + ['e']

['a', 'b', 'c', 'd', 'e']

Nessa maneira podemos adicionar uma variavel no inicio da lista

In [10]:
['1'] + my_list

['1', 'a', 'b', 'c', 'd']

Agora como pode acessar os elementos da lista? Antes de responder essa pergunta temos saber sobre o conceito de indices! Cada elemento de uma lista tem um indice. O primeiro elemento da lista tem indice 0, o segundo elemento tem indice 1, por aí vai. Para acessar um elemento da lista basta colocar o indice do elemento na seguinte forma:

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

Para acessar a mais de um elemento da lista temos que fazer `slicing`. Abaixo extraimos todos os elemento da lista a partir do segundo elemento (o primeiro elemento tem indice 0).

In [33]:
my_list[1:]

['b', 'c', 'd']

Aqui o primeiro elemento será extraido

In [34]:
my_list[:1]

['a']

Para modificar um elemento da lista

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

Para deletar um elemento da lista (neste caso o quarto elemento)

In [14]:
del my_list[3]

In [15]:
my_list

['a', 'b', 'c']

Uma lista pode conter outra lista como um elemento. Para extrair os elementos da lista interna vamos fazer o seguinte

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

Os listas tem um problema! Para acessar um elemento de uma lista temos de saber o indice do elemento. Em uma lista grande isso gera muitas dificuldades. Alem disso, tem situações que precisaremos mais fucionalidade, alem de guardar um conjunto de valores. Por exemplo, como podemos guardar um conjunto de nomes e as suas idades? Os dicionarios são uteis nessa situação.

In [11]:
d = {'joão':15,'julia':21}

É importante notar que os dicionarios são definidos usando { }

In [12]:
d

{'joão': 15, 'julia': 21}

In [26]:
d['joão']

15

Outra forma é

In [14]:
d.get('joão')

15

Para adicionar um elemento to dicionario

In [27]:
d.update({'ana':'22'})

In [28]:
d

{'joão': 15, 'julia': 21, 'ana': '22'}

Para deletar um elemento do dicionario

In [29]:
del d['ana']

In [30]:
d

{'joão': 15, 'julia': 21}

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

Tuples são parecidos com as listas com uma diferença importante! Os tuples são **não modificaves**. Para definir um tuple usarmos ( ) em vez de [ ]

In [32]:
t = (1,2,3)

In [33]:
t[0]

1

Agora vamos ver que não é possivel modificar um elemento do tuple. Chupa Hacker!!!

In [34]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Sets são parecidos com tuples com essa diferença que ordenam os elementos e deletam os elementos duplicados.

In [35]:
{1,2,3}

{1, 2, 3}

In [36]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

### print e input

In [37]:
x = 'hello'

No Jupyter Notebook não se precisa da função *print()* para printar o conteudo de uma variavel. Basta só digitar o nome da variavel. Mas em outros ambientes tais como Spyder ou Pycharm tem que usar a função *print()*

In [39]:
x

'hello'

In [40]:
print(x)

hello

In [41]:
num = 12
name = 'Sam'

As vezes é necessario inserir uma varivel dentro de um string. A forma mais antiga é o seguinte

In [42]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [43]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

A forma mais recente que foi introduzido no Python 3.6 é utilizar "formatted string"

In [44]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

Agora, para pegar uma variavel do usuario usamos do comando `input`

In [15]:
var = input("Qual é o seu nome?")

In [16]:
var

'vahid'

Pode-se inserido qualquer tipo de variavel na entrada

In [17]:
idade = input('voce tem quantos anos?')

In [18]:
idade

'38'

**EXERCICIO** Escreve um script que pega dois numeros da entrada, $x_1$ e $x_2$ e depois printa o resultado de $x_1^{x_2}$

## Comparison Operators

Os valor booleanos podem ser resultados dos operadores de comparação

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

A operação acima, na verdade, é resultado da seguinte operação

In [45]:
False and True

False

In [54]:
(1 > 2) or (2 < 3)

True

Essa operação acima, na verdade, é resultado da seguinte operação

In [46]:
False or True

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

Diferente da Fortran e C/C++ não temos "End if" ou outras frases para determinar final de um "if". No Python o espaçamento (indentation) faz isso. Prestam atenção no 4-espaços (1 TAB) antes da função *print* no exemplo abaixo.

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

Em Python é possivel verificar mais de uma condição usando *elif*

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

As listas, tecnicamente falando, são iteraveis, ou seja, podemos usar uma lista em um Loop e iterando (andar) nos seus elementos.

In [47]:
seq = [1,2,3,4,5]

In [49]:
for item in seq:
    print(item)

1
2
3
4
5

A variavel "item" no codigo acima pode ser qualquer outra variavel.

In [50]:
for bruno in seq:
    print(bruno)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [51]:
for i in seq:
    print(i * "*" )

*
**
***
****
*****

## while Loops

while Loops são uma mistura de "for" Loops e operador "if".

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

É trabalhoso e ineficiente criar uma lista para fazer iteração. Especialmente quando é necessario fazer iteração muitas vezes. O Python tem uma função para isso

In [52]:
range(5)

range(0, 5)

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

Um *range* pode ser transformado em uma lista normal

In [54]:
list(range(5))

[0, 1, 2, 3, 4]

In [55]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

# Importar Pacotes

Praticamente tem pacote para fazer tudo no Python! Como o Python é uma linguagem muito popular tem uma base grande de pacotes prontos para fazer diversos trabalhos. Para instalar um pacote podemos usar o comando  `pip install -U nome_do_pacote` no terminal. Bom, antes de executar esse comando temos que ter o `pip` instalado. Quem tem Anaconda instalado pode usar o comando `conda install nome_do_pacote`. Depois de instalar um pacote no sistema, para o usar temos que chamar ele no inicio do programa. Para chamar (importar) um pacote usamos o comando `import nome_do_pacote`. As vezes é mais conveniente dar um apelido para o pacote, `import nome_do_pacote as apelido`. Um pacote geralmente tem varios modulos (sub pacote). Az vezes, só precisamos de um modulo especifoco e não o pacote inteiro. Para importar um modulo de um pacote usamos `from nome_do_pacote import nome_do_modulo` ou `import nome_do_pacote.nome_do_modulo`, ou `import nome_do_pacote.nome_do_modulo as apelido`.

Nessa disciplina vamos usar um modulo que eu preparei e se chama `av_utils`. Esse modulo é o arquivo `av_utils.py` e como não é um pacote instalado deve ser sempre do lado do notebook para podermos o chamar. Nesse modulo tem varias funções que vão ajudar a gente para calcular e plotar diversos objetos. 

Um pacote que vamos usar muito é o `Numpy`. Esse pacote é a base da computação cientifica do Python que traz a efficiencia do C++ para a gente!

In [2]:
import numpy as np

Outro pacote que vamos usar muito é o Plotly. Vamos usar mais de dois modulos do Plotly.

In [3]:
import plotly.graph_objects as graph_objects
import plotly.express as px

# Alguns Topicos Intermediários

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Great Job!